#app {
    position: relative;
    overflow: hidden;
    width: 960px;
    height: 540px;
    top: 50%;
    margin: -270px auto 0 auto;
    background-image: url(../../img/bbc_background_540.jpg);
    background-repeat :repeat;
    background-color : black;
}

#helloWorldLabel, #welcomeLabel {
    display: block;
    text-align: center;
}

#helloWorldLabel {
    font-size: 45px;
    padding-top: 175px;
    font-weight: bold;
}

#welcomeLabel {
    font-size: 25px;
}

#simplecarousel_mask {
    top: 120px;
}

.description {
    top: 50px;
    font-size: 20px;
}

#playerButtons {
    bottom: 30px;
    width: 600px;
    padding: 8px;
    left: 180px;
}

#carouselComponent > .carouselmask.horizontal {
    width: 720px;
}

#carouselComponent > .carouselmask.vertical {
    height: 450px;
    width: 264px
}

#carouselComponent > .description {
    margin-bottom: 32px;
}


